* {
	margin: 0;
	padding: 0;
}

.app {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
  background-color: #7D80DA;
}

.header {
    min-height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    background-color: #FFD3DA;
    color: #2C1320;
    font-weight: 600;
    padding:0 5rem 0 2.5rem ;
    border-bottom: 3px solid #2C1320;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-logo {
  transform: rotate(135deg);
  scale: 2;
  margin: 0 2.5rem 0.5rem 0;
}

.header-right {
  display: flex;
  gap: 5rem;
  list-style: none;
  text-transform: uppercase;
}

.header-right > * {
  cursor: pointer;
  font-size: 2rem;
}

.header-right > *:hover {
  text-decoration: underline;
}

.home, .cart {
  flex-grow: 1;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
}

.home-dogs-link {
  text-decoration: underline;
}

.header-dogs-icon {
  scale: 0.8;
}

.header-cart-icon {
  scale: 0.7;
}

.dogs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.dogs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5rem;
  margin-top: 3rem;
}

.dogs-item > img {
  scale: 0.75;
  border: 3px solid #2C1320;
}

.dogs-item {
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 3px solid #2C1320;
  background-color: #FFD3DA;
  padding: 2rem;
}

.item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-details > * {
  padding: 1rem;
}

.item-details > p {
  text-decoration: underline;
}

.item-details > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  width: 7rem;
  margin: 0.5rem;
}

.cart-item-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.cart-item > img {
  scale: 0.50;
  border: 2px solid #2C1320;
}

.cart-item {
  display: flex;
  justify-content: center;
  align-items: center; 
  border: 2px solid #2C1320;
  background-color: #FFD3DA;
  padding: 1rem 3rem 1rem 0;
  margin: 0.5rem;
  height: 8.5rem;
}

.cart-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  margin-top: 10rem;
  font-weight: 800;
}

.cart-options > button {
  height: 3rem;
}

.empty-cart-msg {
  font-weight: 800;
  font-size: 1.5rem;
}

/* .cart-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #ff8c42;
  border-radius: 20px;
  background-color: #596869;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-icon-container > * {
  width: 25px;
  height: 25px;
}

.cart-icon-container > *:hover {
  width: 30px;
  height: 30px;
}

.cart {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.cart.open {
  right: 0;
}

.cart-contents {
  padding: 20px;
} */
