* {
	margin: 0;
	padding: 0;
}

.app {
	height: 100vh;
	display: flex;
	flex-direction: column;
  background-color: #7D80DA;
}

.header {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: x-large;
    background-color: #FFD3DA;
    color: #2C1320;
    font-weight: 600;
    padding:0 5rem 0 2.5rem ;
    border-bottom: 3px solid #2C1320;
}

.link {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo {
  transform: rotate(135deg);
  scale: 2;
  margin: 0 2.5rem 0.5rem 0;
}

.header-right {
  display: flex;
  gap: 5rem;
  list-style: none;
  text-transform: uppercase;
}

.header-right > * {
  cursor: pointer;
  font-size: 2rem;
}

.header-right > *:hover {
  text-decoration: underline;
}

.home, .dogs, .cart {
  flex-grow: 1;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 1.5rem;
}

.dogs-link {
  text-decoration: underline;
}

.dogs-icon {
  scale: 0.8;
}

.cart-icon {
  scale: 0.7;
}


/* .cart-icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #ff8c42;
  border-radius: 20px;
  background-color: #596869;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.cart-icon-container > * {
  width: 25px;
  height: 25px;
}

.cart-icon-container > *:hover {
  width: 30px;
  height: 30px;
}

.cart {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #f8f8f8;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.cart.open {
  right: 0;
}

.cart-contents {
  padding: 20px;
} */
